---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="A propos | François Planiol" description="Page à propos de François Planiol, web developer">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="A propos"
				tagline="Alternant en tant que concepteur développeur d'applications, ambitieux et motivé. Passionné par l'environnement numérique, la conception et le développement d'applications."
			>
			</Hero>
		</main>

		<section>
			<div class="button center">
				<a class="color_button" href="/assets/files/cv_francois.pdf" target="_blank">CV en PDF</a>
			</div>
		</section>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.center {
		text-align: center;
	}

	.color_button {
		color: var(--clr-violet);
	}

	.button a {
		padding: 20px 80px;
		border: 1px solid #b3aca7;
		border-radius: 200px;
		width: 300px;
	}

	.button:hover a {
	background: #b3aca7;
	color: #e2dedb;
	transition: all 0.3s ease-in-out;
	text-decoration: none;
	}
	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
