---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">		
		<img
			alt="Logo Absys Cyborg"
			width="130"
			height="90"
			src="/assets/Logo_Absys_Cyborg.png"
		/>
		<h2>Developpeur d'application</h2>
		<p> de Fevrier 2022 à Juillet 2023, Bordeaux.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<img
			alt="Logo Safran HE"
			width="130"
			height="90"
			src="/assets/safran-helicopter-engines-Logo.png"
		/>
		<h2>Intelligence économique</h2>
		<p>de Septembre 2021 à Aout 2022, Pau.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<img
			alt="Logo CCIB"
			width="130"
			height="90"
			src="/assets/Logo-CCIB.png"
		/>
		<h2>Chargé d'étude Junior</h2>
		<p> de Janvier à Avril 2020.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
